
#  <center>Day-2 Python <center>

## Loops in Python

### for Loop

In [39]:
# print the multiplication table of 5
# range function in python start value from 0 if not specified

print("Multiplication table of 5")
for i in range(5):
    print((i + 1) * 5)
    
print("Numbers which are divisible both by 3 and 7")
for i in range(0,100):
    if (i % 3 == 0 and i % 7 == 0):
        print(i)

Multiplication table of 5
5
10
15
20
25
Numbers which are divisible both by 3 and 7
0
21
42
63
84

In [70]:
# increment looping variable by 3
for i in range(2,100,3): # start from 2 and iterate till 99 (inclusive)
    if(i % 5 == 0):
        print(i)

5
20
35
50
65
80
95

In [91]:
# Nested For loop
# Print table of 2,4,6,8 using nested for loops
for i in range(1,10):
    for j in range(2,10,2):
        print(i * j, end="\t")
    print()

2	4	6	8
4	8	12	16
6	12	18	24
8	16	24	32
10	20	30	40
12	24	36	48
14	28	42	56
16	32	48	64
18	36	54	72

In [99]:
# pattern triangle
for i in range(0,5):
    for j in range(0,5):
        if(i>=j):
            print('*', end="")
    print()

*
**
***
****
*****

### while loop

In [64]:
print("Multiplication Table of 2 using while loop")
i = 0 
while(i < 20 and i % 2 == 0):
    print(i)
    i = i + 2

# continue statement will skip the loop body execution for the current value of i and will move to next iteration
i = 0
while(i < 20):
    if (i % 3 == 0):
        if (i == 15):
            i = i + 1
            continue
        print(i)
    i = i + 1

Multiplication Table of 2 using while loop
0
2
4
6
8
10
12
14
16
18
0
3
6
9
12
18

## Functions

In [13]:
# functions without return value and parameters
def sayHello():
    print("Hello World from function sayHello()")
    
def sayHurray():
    print("Hurray, we won the match")

sayHello()
sayHurray()

Hello World from function sayHello()
Hurray, we won the match

### Functions with parameters and return value

In [121]:
def sayHello(firstName,lastName):
    return "Hey there, I am " + firstName + " " + lastName


#sayHello() will give error now as python doesnt support function overloading

# find max of three numbers 
def findMax(a,b,c):
    if (a > b and a > c):
        return a
    elif (b > a and b > c):
        return b
    else:
        return c
    
    
    
print(sayHello("Ali", "Raza"))
print(findMax(21,32,11))

Hey there, I am Ali Raza
32

### Return multiple Values from a function

In [22]:
# functions in python can return lists, dictionaries, sets etc..
def myFrnds():
    return ["Ali", "Hashir","Waqas"]


myFrnds()

['Ali', 'Hashir', 'Waqas']

### When no of args is not known

In [125]:
def myBestie(*args):
    for i in range (len(args)):
        print(args[i],end="")
        

myBestie("H","A","C","K")

HACK

## Lists in Python

In [3]:
# arrays in python are commonly known as lists
cars = ["Maclaren","Ferrari","Buggatti","Nissan","Kia Sorento"]

# changing third value of array
cars[2] = "Alto"

print(cars)
print(type(cars))
print(len(cars))

# A list can contain different data types
# we can also use the default constructor of list to create a new list
arr = list([1 , "abcde", True, [1,2,3,4]])
print(arr)

['Maclaren', 'Ferrari', 'Alto', 'Nissan', 'Kia Sorento']
<class 'list'>
5
[1, 'abcde', True, [1, 2, 3, 4]]

In [4]:
# slicing can also be done in lists/ arrays 

cars[2:5]
print(cars[-2:4])
print(cars[-1:-4])
print(cars[-4:-1])

['Nissan']
[]
['Ferrari', 'Alto', 'Nissan']

### Modifying lists

In [5]:

#modifying list using slicing
cars[1:3] = ["WagonR","Coure",]
print(cars)

cars.append("Vezel") # append item to last of list
print(cars)

cars.insert(1,"NWon") # add item at position
print(cars)

# add list to other 
cars.extend(arr)
print(cars)

cars.remove("NWon")

# not delete the list but remove all of its items
cars.clear()

# delete item using single word 
del cars

['Maclaren', 'WagonR', 'Coure', 'Nissan', 'Kia Sorento']
['Maclaren', 'WagonR', 'Coure', 'Nissan', 'Kia Sorento', 'Vezel']
['Maclaren', 'NWon', 'WagonR', 'Coure', 'Nissan', 'Kia Sorento', 'Vezel']
['Maclaren', 'NWon', 'WagonR', 'Coure', 'Nissan', 'Kia Sorento', 'Vezel', 1, 'abcde', True, [1, 2, 3, 4]]

In [7]:
nums = [50,21,40,28]
print("Using for loops and in ")
for i in nums:
    print(i)
    
    
# referring to the indices of lists    
print("Using for loop and range keyword")
for i in range(len(nums)):
    print(nums[i])

Using for loops and in
50
21
40
28
Using for loop and range keyword
50
21
40
28

### List Comprehension

In [12]:
print("Using list comprehension")
[print(x) for x in nums]

# print only those numbers if they are multiple of 3
print("Multiple of 3 in nums")
[print(x) for x in nums if x % 3 == 0]

Using list comprehension
50
21
40
28
Multiple of 3 in nums
21

[None]

In [17]:
newlist = [x for x in range(0,10,2)]
print(newlist)

# set all in newlist to be 12
print("All items set to 12 : ")
[12 for x in newlist]

[0, 2, 4, 6, 8]
All items set to 12 :

[12, 12, 12, 12, 12]

### Sort list

In [39]:
import random
# importing the random module and populating array with random numbers
newlist = [random.randint(1,10) for i in range(10)]
print("Random list " , newlist)

# list method to sort the array
newlist.sort()
print("list in ascending order : " , newlist)

# sort in descending order
newlist.sort(reverse=True)
print("list in descending order" , newlist)

# reverse list
print("list in reverse : " , newlist)
newlist.reverse()

Random list  [7, 2, 5, 2, 6, 7, 1, 5, 9, 9]
list in ascending order :  [1, 2, 2, 5, 5, 6, 7, 7, 9, 9]
list in descending order [9, 9, 7, 7, 6, 5, 5, 2, 2, 1]
list in reverse :  [9, 9, 7, 7, 6, 5, 5, 2, 2, 1]

### Join Lists

In [53]:
x = [2,3,5,7]
y = [4,5,6,9]

z = x + y
print(z)

z = []
# multiply elements of two lists
for i in range(0,len(x)):
    z.append(x[i] * y[i])
        
print(z)

[2, 3, 5, 7, 4, 5, 6, 9]
[8, 15, 30, 63]