In [144]:
import sqlite3

In [145]:
def createDb():
    conn = sqlite3.connect("students.db")
    c = conn.cursor()
    c.execute("""CREATE TABLE IF NOT EXISTS students(
        firstName text,
        lastName text,
        age integer,
        rollNo text,
        cgpa real,
    )""")

### Get All Students from Database

In [146]:
def showAll():
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    
    c.execute("SELECT rowid,* FROM STUDENTS")
    students_all = c.fetchall()
    for std in students_all:
        print(std)
        
    conn.commit()
    conn.close()

### Insert a single Student in Database

In [147]:
def insertOne(fname,lname,age,rollNo,cgpa):
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    
    c.execute("INSERT INTO STUDENTS VALUES(?,?,?,?,?)", (fname,lname,age,rollNo,cgpa))
    print("Insertion successful...") 
    conn.commit()
    conn.close()

In [148]:
fname = input("Enter first name : ")
lname = input("Enter last name : ")
age = int(input("Enter age : "))
rollNo = input("Enter Roll No : ")
cgpa = float(input("Enter CGPA : "))

insertOne(fname,lname,age,rollNo,cgpa)

Enter first name : Muhammad
Enter last name : Ahmad
Enter age : 21
Enter Roll No : bsef18m011
Enter CGPA : 3.5

OperationalError: database is locked

### Update a Student

In [131]:
def updateStudent(id):
    
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    print("Current data of student with id ", id  )
    c.execute("SELECT * FROM STUDENTS WHERE rowid= ?", [id])
    student = c.fetchone()
    print(student)
    
    fname = input("Enter first name : ")
    lname = input("Enter last name : ")
    age = int(input("Enter age : "))
    rollNo = input("Enter Roll No : ")
    cgpa = float(input("Enter CGPA : "))
    
    c.execute("UPDATE STUDENTS SET firstName = ?, lastName = ?, age=?,rollNo=?, cgpa=? WHERE rowid = ?", (fname,lname,age,rollNo,cgpa,id))
    print("Student Updation Successful....")
    conn.commit()
    conn.close()

In [133]:
updateStudent(2)

Current data of student with id  2
('Ali', 'Ahmad', 21, 'bsef19m033', 3.5)

KeyboardInterrupt: Interrupted by user

### Delete a Student

In [ ]:
def deleteStudent(id):
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    c.execute("DELETE FROM STUDENTS WHERE rowid= ?", [id])
    print("Student Deleted Successfully....")
    conn.commit()
    conn.close()

In [ ]:
deleteStudent(1)

In [ ]:
showAll()

### Load Data from CSV

In [72]:
import csv, sqlite3

In [103]:
def loadFromCSV():
    conn = sqlite3.connect("students.db") # change to 'sqlite:///your_filename.db'
    c = conn.cursor()

    listData = []
    
    with open('std-data.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
        dr = csv.DictReader(fin) # comma is default delimiter
        to_db = [(i['firstName'], i['lastName'],i['age'],i['rollNo'],i['cgpa']) for i in dr]

    c.executemany("INSERT INTO STUDENTS(firstName,lastName,age,rollNo,cgpa) VALUES (?,?,?,?,?)", to_db)
    conn.commit()
    conn.close()

In [126]:
loadFromCSV()

OperationalError: database is locked

In [141]:
showAll()

(1, 'Muhammad', 'Saad', 22, 'bsef19m037', 3.1)
(2, 'Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
(3, 'Ali', 'Hamid', 12, 'bsef19m034', 2.9)
(4, 'Shahid', 'Hameed', 11, 'bsef19m035', 3.6)
(5, 'Muhammad', 'Saad', 22, 'bsef19m037', 3.1)
(6, 'Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
(7, 'Ali', 'Hamid', 12, 'bsef19m034', 2.9)
(8, 'Shahid', 'Hameed', 11, 'bsef19m035', 3.6)
(9, 'Muhammad', 'Saad', 22, 'bsef19m037', 3.1)
(10, 'Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
(11, 'Ali', 'Hamid', 12, 'bsef19m034', 2.9)
(12, 'Shahid', 'Hameed', 11, 'bsef19m035', 3.6)
(13, 'Muhammad', 'Saad', 22, 'bsef19m037', 3.1)
(14, 'Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
(15, 'Ali', 'Hamid', 12, 'bsef19m034', 2.9)
(16, 'Shahid', 'Hameed', 11, 'bsef19m035', 3.6)
(17, 'Muhammad', 'Saad', 22, 'bsef19m037', 3.1)
(18, 'Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
(19, 'Ali', 'Hamid', 12, 'bsef19m034', 2.9)
(20, 'Shahid', 'Hameed', 11, 'bsef19m035', 3.6)
(21, 'Muhammad', 'Saad', 22, 'bsef19m037', 3.1)
(22, 'Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
(23, 'Ali', 'Hamid', 12, 'bsef19m034', 2.9)
(24, 'Shahid', 'Hameed', 11, 'bsef19m035', 3.6)

In [142]:
conn = sqlite3.connect("students.db") 
c = conn.cursor()

query = "DELETE FROM STUDENTS;"

c.execute(query)
conn.commit()
conn.close()

OperationalError: database is locked