# <center>Day-5

## JSON Module in Python

### Encoding Data in JSON

In [13]:
import json

# creating a person dictionary
person = {
    "name" : "Ali",
    "age" : 30,
    "city" : "Lahore",
    "isMarried" : False,
    "titles" : ["Engineer", "Soldier"]
}

# dictionary to json object 
personJson = json.dumps(person, indent = 4) 
# print(personJson) 
print(type(personJson)) # JSON string

{
    "name": "Ali",
    "age": 30,
    "city": "Lahore",
    "isMarried": false,
    "titles": [
        "Engineer",
        "Soldier"
    ]
}
<class 'str'>

### Writing JSON data to file

In [5]:
with open("person.json","w") as f:
    json.dump(person, f, indent = 4)

### Decoding from JSON format to Dictionary

In [12]:
with open("person.json", "r") as f:
    person = json.load(f)
    print(person)
    
print(type(person))

{'name': 'Ali', 'age': 30, 'city': 'Lahore', 'isMarried': False, 'titles': ['Engineer', 'Soldier']}
<class 'dict'>

### Encoding Function for a object

In [19]:
class User:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
user = User("Hamid" , 20)

# WRITING custom encoding function for serializing User object
def encodeUser(obj):
    if isinstance(obj, User):
        return {"name":obj.name , "age":obj.age}
    else:
        raise TypeError("Object is not of user type")
     
    
userJson = json.dumps(user, default=encodeUser)
print(userJson)

{"name": "Hamid", "age": 20}

# <center> Sqlite Databases with Python

In [1]:
import sqlite3

### Connect to the database and create  a table

In [2]:
# connect to the database
conn = sqlite3.connect("customer.db")

# create a cursor
c = conn.cursor()

# following 5 datatypes are supported by SQLite3
# NULL, INTEGER, REAL, TEXT, BLOB

# create a table
c.execute("""CREATE TABLE IF NOT EXISTS Customers(
    first_name text, 
    last_name text,
    email text)
""")

### Insertion into the table

In [3]:
# insert a single row to database
c.execute("INSERT INTO Customers VALUES('Ali','Raza','ali@gmail.com')")

print("Insertion successful")

#insert multiple rows
customers_list = [('Ali','Hadi','hadi@gmail.com'),
             ('Sheikh','Hamid', 'sheikh#@gmail.com'), 
             ('Raza', 'Rehman', 'raza@hotmail.com')]


# insert many rows using execute many
c.executemany("INSERT INTO Customers VALUES(?,?,?)", customers_list)

print("Insertion multiple records successful")

Insertion successful
Insertion multiple records successful


###  Query the data from table

In [7]:
c.execute("SELECT * FROM Customers")
print(c.fetchone()) # print only first row from the table

('Ali', 'Raza', 'ali@gmail.com')

In [8]:
# Fetch All Records from a database
items = c.fetchall()
for i in items:
    print(i)

('Ali', 'Hadi', 'hadi@gmail.com')
('Sheikh', 'Hamid', 'sheikh#@gmail.com')
('Raza', 'Rehman', 'raza@hotmail.com')
('Ali', 'Raza', 'ali@gmail.com')
('Ali', 'Hadi', 'hadi@gmail.com')
('Sheikh', 'Hamid', 'sheikh#@gmail.com')
('Raza', 'Rehman', 'raza@hotmail.com')

### Primary Key From Database

In [12]:
c.execute("SELECT rowid,* FROM Customers")
items = c.fetchall()
for i in items:
    print(i)

(1, 'Ali', 'Raza', 'ali@gmail.com')
(2, 'Ali', 'Hadi', 'hadi@gmail.com')
(3, 'Sheikh', 'Hamid', 'sheikh#@gmail.com')
(4, 'Raza', 'Rehman', 'raza@hotmail.com')
(5, 'Ali', 'Raza', 'ali@gmail.com')
(6, 'Ali', 'Hadi', 'hadi@gmail.com')
(7, 'Sheikh', 'Hamid', 'sheikh#@gmail.com')
(8, 'Raza', 'Rehman', 'raza@hotmail.com')

### Where Clause

In [21]:
c.execute("SELECT * FROM Customers WHERE first_name='Ali'")
items = c.fetchall()
for i in items:
    print(i)

### Update Clause

In [23]:
c.execute("UPDATE Customers SET first_name='Muhammad' WHERE first_name='Ali'")
items = c.fetchall()
for i in items:
    print(i)

In [26]:
c.execute("SELECT rowid,* FROM Customers ORDER BY last_name desc")
items = c.fetchall()
for i in items: 
    print(i)

(4, 'Raza', 'Rehman', 'raza@hotmail.com')
(8, 'Raza', 'Rehman', 'raza@hotmail.com')
(1, 'Muhammad', 'Raza', 'ali@gmail.com')
(5, 'Muhammad', 'Raza', 'ali@gmail.com')
(3, 'Sheikh', 'Hamid', 'sheikh#@gmail.com')
(7, 'Sheikh', 'Hamid', 'sheikh#@gmail.com')
(2, 'Muhammad', 'Hadi', 'hadi@gmail.com')
(6, 'Muhammad', 'Hadi', 'hadi@gmail.com')

In [48]:
conn.commit()
conn.close()

In [1]:
## Refer to StudentsDatabaseFunctions.ipynb for more clarity of above Database operations