In [1]:
import sqlite3

In [2]:
def createDb():
    conn = sqlite3.connect("students.db")
    c = conn.cursor()
    c.execute("""CREATE TABLE IF NOT EXISTS students(
        firstName text,
        lastName text,
        age integer,
        rollNo text,
        cgpa real,
    )""")

### Get All Students from Database

In [3]:
def showAll():
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    
    c.execute("SELECT rowid,* FROM STUDENTS")
    students_all = c.fetchall()
    for std in students_all:
        print(std)
        
    conn.commit()
    conn.close()

### Insert a single Student in Database

In [4]:
def insertOne(fname,lname,age,rollNo,cgpa):
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    
    c.execute("INSERT INTO STUDENTS VALUES(?,?,?,?,?)", (fname,lname,age,rollNo,cgpa))
    print("Insertion successful...") 
    conn.commit()
    conn.close()

In [5]:
fname = input("Enter first name : ")
lname = input("Enter last name : ")
age = int(input("Enter age : "))
rollNo = input("Enter Roll No : ")
cgpa = float(input("Enter CGPA : "))

insertOne(fname,lname,age,rollNo,cgpa)

Enter first name : M
Enter last name : Rafay
Enter age : 12
Enter Roll No : bsef18m002
Enter CGPA : 3.4
Insertion successful...

### Update a Student

In [6]:
def updateStudent(id):
    
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    print("Current data of student with id ", id  )
    c.execute("SELECT * FROM STUDENTS WHERE rowid= ?", [id])
    student = c.fetchone()
    print(student)
    
    fname = input("Enter first name : ")
    lname = input("Enter last name : ")
    age = int(input("Enter age : "))
    rollNo = input("Enter Roll No : ")
    cgpa = float(input("Enter CGPA : "))
    
    c.execute("UPDATE STUDENTS SET firstName = ?, lastName = ?, age=?,rollNo=?, cgpa=? WHERE rowid = ?", (fname,lname,age,rollNo,cgpa,id))
    print("Student Updation Successful....")
    conn.commit()
    conn.close()

In [7]:
updateStudent(2)

Current data of student with id  2
('Ali', 'Ahmad', 21, 'bsef19m033', 3.5)
Enter first name : Ali
Enter last name : Raza
Enter age : 22
Enter Roll No : bsef18m033
Enter CGPA : 3.6
Student Updation Successful....

### Delete a Student

In [8]:
def deleteStudent(id):
    conn = sqlite3.connect('students.db')
    c = conn.cursor()
    c.execute("DELETE FROM STUDENTS WHERE rowid= ?", [id])
    print("Student Deleted Successfully....")
    conn.commit()
    conn.close()

In [9]:
deleteStudent(1)

Student Deleted Successfully....

In [22]:
showAll()

### Load Data from CSV

In [11]:
import csv, sqlite3

In [23]:
def loadFromCSV():
    conn = sqlite3.connect("students.db") # change to 'sqlite:///your_filename.db'
    c = conn.cursor()

    listData = []
    
    with open('std-data.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
        dr = csv.DictReader(fin) # comma is default delimiter
        to_db = [(i['firstName'], i['lastName'],i['age'],i['rollNo'],i['cgpa']) for i in dr]

    c.executemany("INSERT INTO STUDENTS(firstName,lastName,age,rollNo,cgpa) VALUES (?,?,?,?,?)", to_db)
    conn.commit()
    conn.close()

In [13]:
loadFromCSV()

In [24]:
showAll()

In [25]:
conn = sqlite3.connect("students.db") 
c = conn.cursor()

query = "DELETE FROM STUDENTS;"

c.execute(query)
conn.commit()
conn.close()

In [26]:
showAll()